<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>JavaWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>OlaMundo</display-name>
    <servlet-name>OlaMundo</servlet-name>
    <servlet-class>com.tony.javaservlets.OlaMundo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OlaMundo</servlet-name>
    <url-pattern>/OlaMundo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PedidoOrigem</display-name>
    <servlet-name>PedidoOrigem</servlet-name>
    <servlet-class>com.tony.javaservlets.PedidoOrigem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PedidoOrigem</servlet-name>
    <url-pattern>/PedidoOrigem</url-pattern>
    <url-pattern>/pedidoorigem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PedidoCabecalho</display-name>
    <servlet-name>PedidoCabecalho</servlet-name>
    <servlet-class>com.tony.javaservlets.PedidoCabecalho</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PedidoCabecalho</servlet-name>
    <url-pattern>/PedidoCabecalho</url-pattern>
    <url-pattern>/pedidocabecalho</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PedidoParametros1Valor</display-name>
    <servlet-name>PedidoParametros1Valor</servlet-name>
    <servlet-class>com.tony.javaservlets.PedidoParametros1Valor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PedidoParametros1Valor</servlet-name>
    <url-pattern>/PedidoParametros1Valor</url-pattern>
    <url-pattern>/pedidoparametros1valor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PedidoParametrosNValores</display-name>
    <servlet-name>PedidoParametrosNValores</servlet-name>
    <servlet-class>com.tony.javaservlets.PedidoParametrosNValores</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PedidoParametrosNValores</servlet-name>
    <url-pattern>/PedidoParametrosNValores</url-pattern>
    <url-pattern>/pedidoparametrosnvalores</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CharEspecial01</display-name>
    <servlet-name>CharEspecial01</servlet-name>
    <servlet-class>com.tony.javaservlets.CharEspecial01</servlet-class>
    <init-param>
      <description></description>
      <param-name>/charespecial01</param-name>
      <param-value></param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>CharEspecial01</servlet-name>
    <url-pattern>/CharEspecial01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IncludeHtmlFull</display-name>
    <servlet-name>IncludeHtmlFull</servlet-name>
    <servlet-class>com.tony.javaservlets.IncludeHtmlFull</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncludeHtmlFull</servlet-name>
    <url-pattern>/IncludeHtmlFull</url-pattern>
    <url-pattern>/includehtmlfull</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestCookieOnBrowser</display-name>
    <servlet-name>TestCookieOnBrowser</servlet-name>
    <servlet-class>com.tony.javaservlets.TestCookieOnBrowser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestCookieOnBrowser</servlet-name>
    <url-pattern>/TestCookieOnBrowser</url-pattern>
    <url-pattern>/testcookieonbrowser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PagLogin</display-name>
    <servlet-name>PagLogin</servlet-name>
    <servlet-class>com.tony.javaservlets.PagLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PagLogin</servlet-name>
    <url-pattern>/PagLogin</url-pattern>
    <url-pattern>/paglogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PagLoginAction</display-name>
    <servlet-name>PagLoginAction</servlet-name>
    <servlet-class>com.tony.javaservlets.PagLoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PagLoginAction</servlet-name>
    <url-pattern>/PagLoginAction</url-pattern>
    <url-pattern>/pagloginaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PagApp1</display-name>
    <servlet-name>PagApp1</servlet-name>
    <servlet-class>com.tony.javaservlets.PagApp1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PagApp1</servlet-name>
    <url-pattern>/PagApp1</url-pattern>
    <url-pattern>/pagapp1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PagApp2</display-name>
    <servlet-name>PagApp2</servlet-name>
    <servlet-class>com.tony.javaservlets.PagApp2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PagApp2</servlet-name>
    <url-pattern>/PagApp2</url-pattern>
    <url-pattern>/pagapp2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAction</display-name>
    <servlet-name>ServletAction</servlet-name>
    <servlet-class>com.tony.javaservlets.ServletAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAction</servlet-name>
    <url-pattern>/ServletAction</url-pattern>
    <url-pattern>/servletaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAlvo01</display-name>
    <servlet-name>ServletAlvo01</servlet-name>
    <servlet-class>com.tony.javaservlets.ServletAlvo01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAlvo01</servlet-name>
    <url-pattern>/ServletAlvo01</url-pattern>
    <url-pattern>/servletalvo01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LerParametrosDeWebXml</display-name>
    <servlet-name>LerParametrosDeWebXml</servlet-name>
    <servlet-class>com.tony.javaservlets.LerParametrosDeWebXml</servlet-class>
    <init-param>
      <description>Nome do servidor</description>
      <param-name>host</param-name>
      <param-value>localhost</param-value>
    </init-param>
    <init-param>
      <description>Porto do MySQL</description>
      <param-name>port</param-name>
      <param-value>3306</param-value>
    </init-param>
    <init-param>
      <description>Schema/database</description>
      <param-name>dbSchema</param-name>
      <param-value>winestore</param-value>
    </init-param>
    <init-param>
      <description>Utilizador da BD</description>
      <param-name>user</param-name>
      <param-value>winestore</param-value>
    </init-param>
    <init-param>
      <description>Password de acesso</description>
      <param-name>password</param-name>
      <param-value>Xpto_1234</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>LerParametrosDeWebXml</servlet-name>
    <url-pattern>/LerParametrosDeWebXml</url-pattern>
    <url-pattern>/lerparametrosdewebxml</url-pattern>
  </servlet-mapping>
</web-app>